@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: blanchedalmond;
}

.nav {
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav img {
  width: 120px;
  height: 50px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul li {
  text-shadow: 1px 1px 3px black;
  font-size: medium;
  font-weight: 800;
  list-style: none;
  margin: 10px;
  cursor: pointer;
}
ul li:hover {
  color: aliceblue;
}

.container {
  margin: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

table,
tr,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px 13px;
}

form {
  margin: 2%;
}

.btn {
  padding: 8px 17px;
  background: black;
  color: white;
  font-weight: 900;
  border: 2px solid gray;
  border-radius: 8px;
  margin: 25px 0;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: black;
}

.btnsm{
  padding: 8px 17px;
  background: black;
  color: white;
  font-weight: 900;
  border: 2px solid gray;
  border-radius: 8px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

img{
  cursor: pointer;
  position: relative;
  bottom: 7px;
  width: 15px;
  height: 13px;
}

#alert{
  display: none;
}